## COMMENT OUT THE SINGLE # for online for specific condition
IndexIgnore *
RewriteEngine On
RewriteBase /
## CONDITION FOR IF HTML FILE EXISTS DISABLE URL RULE
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(([\w/\-]+)?[\w-])(/|\.php)?$ http://localhost/stargymfitness.com/site/index.php?pagefile=$1 [NC] 
#RewriteRule ^(([\w/\-]+)?[\w-])(/|\.php)?$ /index.php?pagefile=$1 [QSA] 
# compress all text & html:

#DirectoryIndex index.html index.php
#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css

# Or, compress certain file types by extension:
#<Files *.js>
#SetOutputFilter DEFLATE
#</Files>